<div id="b" class="carousel slide" data-ride="carousel" data-interval="3000" data-pause="hover">
    <!-- lol -->

    <ol class="carousel-indicators">
        <li data-targe="#b" data-slide="0" class="active"></li>
        <li data-targe="#b" data-slide="1" class="active"></li>
    </ol>

    <div class="carousel-inner">
        <div class="carousel-item active">
            <img src="assets/images/2.jpg" alt="2.jpg">
            <div class="carousel-caption">
                <h5>First slide</h5>
            </div>
        </div>

        <div class="carousel-item">
            <img src="assets/images/5.jpg" alt="5.jpg">
            <div class="carousel-caption">
                <h5>Second Slide</h5>
            </div>
        </div>
    </div>

    <a class="carousel-control-prev" href="#b" data-slide="prev">
        <span class="carousel-control-prev-icon"></span>
    </a>
    <a class="carousel-control-next" href="#b" data-slide="next">
        <span class="carousel-control-next-icon"></span>
    </a>

</div>