<div class="card bg-primary font-weight-bold mt-2">
    <div class="card-body">
        About Us
    </div>
</div>
<div class="row mt-1 wow slideinleft text-justify">
    <div class="col-md-12">
        <p style="text-indent: 90px;">
            Lorem ipsum dolor, sit amet consectetur adipisicing elit.
            Doloremque placeat illum, velit impedit odit culpa accusamus,
            voluptatibus repudiandae, nesciunt enim soluta fuga officiis 
            harum nostrum corrupti ut! Suscipit, dolor impedit, beatae
            sapiente corporis neque iusto quos inventore eius nam quod velit
            amet veritatis itaque dicta esse ab veniam. Suscipit, itaque!

        </p>
        <p style="text-indent: 90px;">
            Lorem ipsum dolor, sit amet consectetur adipisicing elit.
            Doloremque placeat illum, velit impedit odit culpa accusamus,
            voluptatibus repudiandae, nesciunt enim soluta fuga officiis 
            harum nostrum corrupti ut! Suscipit, dolor impedit, beatae
            sapiente corporis neque iusto quos inventore eius nam quod velit
            amet veritatis itaque dicta esse ab veniam. Suscipit, itaque!

        </p>
    </div>
</div>